/Pipfile
/Pipfile.lock
.idea
.vscode
__pycache__
venv
frame.egg-info
tools/rect/bestbox.txt
tools/rect/tofind.txt
tools/rect/greedy.exe
tools/rect/output.out
tools/rect/pseudobool.pyc
tools/rect/satmanager.pyc
tools/rect/tmp.cnf
