.idea
.vscode

__pycache__
venv
frame.egg-info

*.pyd
*.pyc
*.exe

tools/glbfloor/ignore

tools/rect/bestbox.txt
tools/rect/tofind.txt
tools/rect/output.out
tools/rect/tmp.cnf
victor.bat
tools/rect/data/.~lock.times.csv\#
build/temp.win-amd64-cpython-310/Release/tools/rect/cpp_src/rect_greedy.lib
build/temp.win-amd64-cpython-310/Release/tools/rect/cpp_src/rect_greedy.exp
build/temp.win-amd64-cpython-310/Release/tools/rect/cpp_src/greedy_lib.obj
build/temp.win-amd64-3.10/Release/tools/rect/cpp_src/rect_greedy.lib
build/temp.win-amd64-3.10/Release/tools/rect/cpp_src/rect_greedy.exp
build/temp.win-amd64-3.10/Release/tools/rect/cpp_src/rect_greedy.cp310-win_amd64.lib
build/temp.win-amd64-3.10/Release/tools/rect/cpp_src/rect_greedy.cp310-win_amd64.exp
build/temp.win-amd64-3.10/Release/tools/rect/cpp_src/greedy_lib.obj
build/lib.win-amd64-3.10/tools/spectral/spectral_types.py
build/lib.win-amd64-3.10/tools/spectral/spectral_algorithm.py
build/lib.win-amd64-3.10/tools/spectral/spectral.py
build/lib.win-amd64-3.10/tools/spectral/__init__.py
build/lib.win-amd64-3.10/tools/rect/satmanager.py
build/lib.win-amd64-3.10/tools/rect/rect_io.py
build/lib.win-amd64-3.10/tools/rect/rect.py
build/lib.win-amd64-3.10/tools/rect/pseudobool.py
build/lib.win-amd64-3.10/tools/rect/greedymanager.py
build/lib.win-amd64-3.10/tools/rect/greedy_lib.py
build/lib.win-amd64-3.10/tools/rect/get_greedy_input_files.py
build/lib.win-amd64-3.10/tools/rect/examplegenerator.py
build/lib.win-amd64-3.10/tools/rect/canvas.py
build/lib.win-amd64-3.10/tools/rect/__init__.py
build/lib.win-amd64-3.10/tools/netgen/netgen.py
build/lib.win-amd64-3.10/tools/netgen/__init__.py
build/lib.win-amd64-3.10/tools/hello/hello.py
build/lib.win-amd64-3.10/tools/hello/__init__.py
build/lib.win-amd64-3.10/tools/draw/draw.py
build/lib.win-amd64-3.10/tools/draw/__init__.py
build/lib.win-amd64-3.10/frame/utils/utils.py
build/lib.win-amd64-3.10/frame/utils/keywords.py
build/lib.win-amd64-3.10/frame/utils/__init__.py
build/lib.win-amd64-3.10/frame/netlist/yaml_write_netlist.py
build/lib.win-amd64-3.10/frame/netlist/yaml_read_netlist.py
build/lib.win-amd64-3.10/frame/netlist/netlist_types.py
build/lib.win-amd64-3.10/frame/netlist/netlist.py
build/lib.win-amd64-3.10/frame/netlist/module.py
build/lib.win-amd64-3.10/frame/netlist/__init__.py
build/lib.win-amd64-3.10/frame/geometry/geometry.py
build/lib.win-amd64-3.10/frame/geometry/__init__.py
build/lib.win-amd64-3.10/frame/die/yaml_parse_die.py
build/lib.win-amd64-3.10/frame/die/die.py
build/lib.win-amd64-3.10/frame/die/__init__.py
build/lib.win-amd64-3.10/frame/allocation/allocation.py
build/lib.win-amd64-3.10/frame/allocation/__init__.py
build/lib.win-amd64-3.10/frame/__init__.py
