.idea
.vscode

__pycache__
venv
frame.egg-info

*.pyd
*.pyc
*.exe

tools/glbfloor/ignore

tools/rect/bestbox.txt
tools/rect/tofind.txt
tools/rect/output.out
tools/rect/tmp.cnf
victor.bat
tools/rect/data/.~lock.times.csv\#